body {
  background: #f3f3f3;
  color: black;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

.header {
  text-align: center;
  letter-spacing: 2px;
}

.movie-app > .row {
	overflow-x: auto;
	flex-wrap: nowrap;
}

*::-webkit-scrollbar {
  display: none;
}

.image-container {
  height: 400px;
  width: 250px;
  border: 2px solid white;
  border-radius: 2px;
  padding-left: 0;
  padding-right: 0;
  position: relative;
  overflow: hidden;
	transition: transform 0.2s;
  box-shadow: 10px 10px 5px rgb(147, 153, 155);
}

.image-container:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.image-container:hover .overlay {
  opacity: 1;
}


.overlay {
  position: absolute;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  transition: 0.5s ease;
  opacity: 0;
  bottom: 0;
  font-size: 20px;
  padding: 20px;
  text-align: center;
  color: white
}

.logo {
  height: 200px;
  width: 200px;
  align-items: center;
}

.sm_heart:hover {
  color: red;
  transform: scale(1.7);
  transition: transform 0.3s;
}

.sm_ex:hover {
  color: white;
  transform: scale(1.7);
  transition: transform 0.3s;
}
